.wrapper{
    background-color: #fff;
}
/*header开始*/
/*.header{*/
    /*position: absolute;*/
    /*top:0;*/
/*}*/
.banner-notice {
    color: #ff9914;
    position: absolute;
    z-index: 999;
    margin-top: 62px;
    width: 100%;
   text-align: center;
}
.banner-notice a {
    color: #ff9914;
}
.nav-item .nav-download{
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: #f2f2f2;
    color:#333333 ;
}
.nav-item .nav-download:hover, .nav-item .nav-download.active{
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}
.nl-navbar-brand{
    color: #fff;
}
.nl-navbar-brand:hover,.nl-navbar-brand:active{
    color: #fff
}
.nl-nav-link{
    color: #fff;
}
.nl-nav-link:focus,.nl-nav-link:active,
.nl-nav-link:hover {
    color: #f0a401; }
.nl-navbar-brand:focus,.nl-navbar-brand:active,
.nl-navbar-brand:hover{
    color: #f0a401;
}
.g-bg-white{
    background-color: black !important;
}
::-moz-selection {
    color: #f0a401;
    background-color:#6c6c6c; }

::selection {
    color: #f0a401;
    background-color:#6c6c6c; }
.nl_logo{
  margin-right: 1em;
}
.nav-item a{
    text-transform: none;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: #fff;
}
.g-bg-white-opacity-0_8{
    background-color: rgba(0, 0, 0, 0.8) !important;
}
/*header结束*/

/*footer开始*/
.nl-footer{
    color: #313131;
}
.nl-footer a:hover,.nl-footer a:active{
    color: inherit;
}
.footer-copyright{
    color: #4a4a4a;
    font-size: .5rem !important;
}
.des{
    color:#a6a6a6 ;
    padding: .2rem 0;
}
.footer-brand{
  padding-bottom: 1.5rem;
}
.clause{
    color: #a6a6a6;
}
/*footer结束*/

/*banner开始*/

.banner
{
    margin-top: -62px;
}

/*.banner-title1{*/
    /*font-size: 33px;*/
/*}*/
/*.banner-title2{*/
    /*font-size: 22px;*/
/*}*/
/*.banner-title3{*/
    /*font-size: 12px;*/
/*}*/
.nl-main{
    color: #f0a401;
    /*margin: 10px auto;*/
}
.banner-btn{
    box-shadow: 1px 1px 1px  #ffe63f;
    color: #313131 !important   ;
    background: -moz-linear-gradient( left,#f0a401,#ffe63f);
    background: linear-gradient( left,#f0a401,#ffe63f);
    background: -webkit-linear-gradient( left,#f0a401,#ffe63f);
}
.banner-btn:hover{
    color: #313131 !important;
    background: #ffa200;
}

/*banner结束*/


.nl-underline{
    width: 100%;
    text-align: center;
}
.nl-style{
    display: inline-block;
    width:4.5rem;
    height:6px;
    background: -moz-linear-gradient( left,#f0a401,#f8cc08);
    background: linear-gradient( left,#f0a401,#f8cc08);
    background: -webkit-linear-gradient( left,#f0a401,#f8cc08);
}
.nl-stylelaw
{
    display: inline-block;
    width:7rem;
    height:2px;
    background: -moz-linear-gradient( left,#f0a401,#f8cc08);
    background: linear-gradient( left,#f0a401,#f8cc08);
    background: -webkit-linear-gradient( left,#f0a401,#f8cc08);
}

.nl-underline-sm{
    width: 100%;
    text-align: center;
}
.nl-style-sm{
    display: inline-block;
    width:3.6rem;
    height:2px;
    background: -moz-linear-gradient( left,#f0a401,#f8cc08);
    background: linear-gradient( left,#f0a401,#f8cc08);
    background: -webkit-linear-gradient( left,#f0a401,#f8cc08);
}

/*应用场景开始*/
#application{
    background:url("/public/img/applicationbg.gif") no-repeat center;
    background-size: cover;
    color: #606060 !important;
    padding-bottom: 100px;
}

#application img{
    width: 100%;
}
#application h3{
    color: #606060;
}
.application-item .u-block-hover{
    background-color: #fff;
    min-height: 548px;
}
@media (min-width: 576px){
    .application-item{
        text-align: center;
    }
}
@media (min-width: 992px){
    .application-item{
        text-align: center;
    }
}
[class*="u-block-hover"]{
    width: 90%;
    margin:auto;
}
.nl-fa{
    color: #ffb400;
}
/*应用场景结束*/
.dzsparallaxer:not(.mode-oneelement){
    background-color: #272727;
}
/*steamer*/
#streamer{
    color: #fff;
}
.streamer{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    padding: 0 30%;
    padding-bottom: 50px;
}
.streamer li{
    display: inline-block;
}
@media (max-width: 768px){
    .streamer-title img{
        display: none;
    }
}
@media (max-width: 576px){
    .streamer-title{
        font-size: 1.2rem !important;
    }
}
/*技术优势*/
#advantage{
    background-color: #ffffff;
}
#degital{
    background-color: #ffffff;
}
#circuit{
    background:url("/public/img/circuitbg.gif") no-repeat center;
    background-size: cover;
}
.ourteam
{
    background-color: #ffffff;
}
.circuit-img{
    width: 100%;
    height: 320px;
    background-size: contain;
}

@media (max-width: 768px){
    .circuit-img{
        height: 190px;
    }
}
@media (max-width: 700px){
    .circuit-img{
        height: 100px;
    }
}
.imgborder
{
    border-radius: 50%;
    width: 110px;
}
.ahover
{
    cursor: pointer;
    color:#313131 !important;
    text-decoration:none !important;
}
.ahover:hover
{
    color:#313131;
    text-decoration:none;
}
.divfontcolor:hover>.ahover
{
    color: #313131;
}
.ahover:active
{
    color: #313131!important;
    text-decoration:none;
}
.copyright{
    color: #6c6c6c;
   font-size: .5rem;
}
.footer-line{
    background-color: #272727;
}
.g-law-width
{
    width: 300px;
    font-size: 22px;
    border-bottom: 2px solid #ffa200;
}
.lawcenter
{
    display: flex;
    justify-content:center;
    align-content: center;
    /*position: relative;*/
}
.en-title
{
   margin-bottom: 1.5rem;
}
.section-law
{
    box-shadow: 0px 1px 30px 1px #d9d9d9 ;
}
.artile-title
{
    margin-bottom: 30px!important;
    font-size: 18px;
}
.width-text
{
    width: 90%;
    margin: 3rem  auto 0 auto;
}
.width-text>p
{
    margin-bottom: 0.3rem!important;
    font-size: 12px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#lawbanner
{
    background-image: url('/public/img/lawbg.jpg');
}
.law-container {
    margin-top: 61px;
}
.langs-items{
    background-color: dimgrey;
    position: absolute;
    top:50px;
    left: -10px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.langs-items a{
    padding: 15px;
   color: #fff;
}
.langs{
    position: relative;
}
.langs:hover{

}
.select-design{
    cursor: pointer;
    width: 165px;
    margin: auto;
    border-radius: 5px ;
    border:1px solid white !important;

}
.select-design span{
    font-size: 14px !important;
    display: block;
    padding: 10px 20px !important;
}
.select-design .long{
    padding: 10px 5px !important;
}
.select-design span a{
    font-size: 14px !important;
    color: white;
}
.select-design .hover:hover{
    background-color: #eeeeee;
}
.select-design .hover:hover a{
    color: black;
}

.select-design .hidden{
    display: none;
}
.safety-border
{
    box-shadow: 0 0 20px #dedede;
}
.safety-border:nth-child(1)
{
    margin-left: 0!important;
}
.safety-display
{
    display: flex;
    justify-content: space-around!important;
}
/*themis的使命*/
#mission
{
    background:url("/public/img/矢量智能对象.png") no-repeat center;
    background-size: cover!important;
    color: #606060 !important;
    padding-bottom: 100px;
}
.num-money
{
    border-radius: 20px;
    background-color: #E59C37;
}
.description-table{
    border:1px solid #ffc133;
    border-radius: 10px;
}
.description-table .table{
    margin-bottom: 0;
}
.description-table .table thead th,.description-table .table td,.description-table .table th{
    border: 0;
}
.description-table .table td{
    border-top:1px solid #434343;
}
.description-table .table thead th span{
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    min-width: 112px;
    border-right: 1px solid #ffc133;
}
.description-table .table tbody td span{
    margin: 20px 0;
    display: inline-block;
}
.description-table .table td,.description-table .table th{
    padding: .75rem 0;
}
@media (min-width: 992px){
    .hidden-lg{
        display: none;
    }
}
.nl-color-yellow{
    color: #f0a401 !important;
}
.nl-color-yellow--hover:hover{
    color: #f0a401 !important;
}

/*lj  基石*/
#cornerstone {
    background: url("/public/img/cornerstone_bg.png") no-repeat center;
    background-size: cover;
}
/*lj  基金分配*/
.distribution{
    background: url("/public/img/distribution_bg.png") no-repeat center;
    background-size: cover;
}
.dis_color{
    color: #ffc133;
}
.dis_weight{
    font-weight: bold;
}
.ant-modal {
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: auto;
    margin: 0 auto;
    top: 100px;
    padding-bottom: 24px;
}
.ant-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.ant-modal-title {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}
.ant-modal-content {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.ant-modal-close {
    cursor: pointer;
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s;
    color: rgba(0, 0, 0, 0.45);
    outline: 0;
    padding: 0;
}
.ant-modal-close-x {
    display: block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
}
.ant-modal-close-x:before {
    content: "\E633";
    display: block;
    font-family: "anticon" !important;
}
.ant-modal-close:focus,
.ant-modal-close:hover {
    color: #444;
    text-decoration: none;
}
.ant-modal-header {
    padding: 16px 24px;
    border-radius: 4px 4px 0 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #e8e8e8;
}
.ant-modal-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
}
.ant-modal-footer {
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    border-radius: 0 0 4px 4px;
}
.ant-modal-footer button + button {
    margin-left: 8px;
    margin-bottom: 0;
}
.ant-modal.zoom-enter,
.ant-modal.zoom-appear {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0;
}
.ant-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    z-index: 1000;
    filter: alpha(opacity=50);
}
.ant-modal-mask-hidden {
    display: none;
}
.ant-modal-open {
    overflow: hidden;
}
@media (max-width: 768px) {
    .ant-modal {
        width: auto !important;
        margin: 10px;
    }
    .vertical-center-modal .ant-modal {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}